p {
    background-color: cadetblue;
}
h1, h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    background: rgba(129, 104, 50, 0.595);
    color: black;
    padding: 8px;
}
body {
    color: rgb(0, 0, 0);
}
p {
    font-style: italic;
    color: rgb(67, 56, 43);
}
.colortext {
    color: #716F3B;
}