body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}
.div1 {
    width: 100%;
    height: 50%;
}
.head {
    width: 100%; 
    height: 20%; 
    background-color: rgba(0, 255, 255, 0.607);
}
.block {
    width: 100%; 
    height: 10%; 
    background-color: rgba(252, 155, 95, 0.995);
}
.div2 {
    width: 100%;
    height: 20%;
}
.menu {
    width: 30%; 
    height: 750%; 
    background-color: rgb(118, 197, 102); 
    float:left;
}
.content {
    width: 70%; 
    height: 750%; 
    background-color: rgb(151, 171, 171); 
    float:left;
}
.podval {
    width: 100%; 
    height: 150%; 
    background-color: rgb(29, 18, 253);
}